{% extends 'base.html' %}

{% block title%}
LinsAlert - Контакты
{% endblock %}

{% block contacts_page %}
active
{% endblock %}

{% block styles %}
<style>
	#disqus_thread {
		padding: 10px 20px;
		border: 1px solid #ccc;
		border-radius: 2px;
	}

	#layout #footer {
		display: none;
	}
</style>
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-lg-4">
			
			{% if alert %}
			<div class="alert {{alert.cls}} alert-dismissable">
				<strong>{{ alert.txt }}</strong>
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			</div>
			{% endif %}

			<form class="form" action="/contacts/" method="post">{% csrf_token %}
				<h2 class="form-sign-heading">Обратная связь</h2>
				{% if form.non_field_errors %}
					{% for error in form.non_field_errors %}
						<div class="alert alert-danger alert-dismissable">
							<strong>{{ error|escape }}</strong>
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						</div>
					{% endfor %}
				{% endif %}
				<div class="form-group">
					<label>Ваш email</label>
					{% if form.email.errors %}
						{% for error in form.email.errors %}
							<div class="alert alert-danger alert-dismissable">
								<strong>{{ error|escape }}</strong>
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							</div>
						{% endfor %}
					{% endif %}
					{{ form.email }}
				</div>
				<div class="form-group">
					<label>Тема</label>
					{% if form.email.errors %}
						{% for error in form.email.errors %}
							<div class="alert alert-danger alert-dismissable">
								<strong>{{ error|escape }}</strong>
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							</div>
						{% endfor %}
					{% endif %}
					{{ form.subject }}
				</div>
				<div class="form-group">
					<label>Текст сообщения</label>
					{% if form.email.errors %}
						{% for error in form.email.errors %}
							<div class="alert alert-danger alert-dismissable">
								<strong>{{ error|escape }}</strong>
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							</div>
						{% endfor %}
					{% endif %}
					{{ form.message }}
				</div>
				<button class="btn btn-primary" type="sumbit">Отправить</button>
			</form>
		</div>
	</div>
	
	<div class="row">
		<div class="col-lg-6">
			<h2 class="form-sign-heading">Отзывы и предложения</h2>
			<div id="disqus_thread"></div>
			<script type="text/javascript">
				/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
				var disqus_shortname = 'linsalert'; // required: replace example with your forum shortname
				/* * * DON'T EDIT BELOW THIS LINE * * */
				(function() {
					var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
					dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
					(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
				})();
			</script>
			<noscript>Пожалуйста, включите JavaScript, чтобы увидеть комментарии</noscript>
		</div>
	</div>
</div>
{% endblock %}
