{% extends 'base.html' %}

{% block title%}
LinsAlert
{% endblock %}

{% block main_page %}
active
{% endblock %}

{% block content %}
<div class="container">
	<div class="jumbotron">
		<div class="container">
			<h1>LinsAlert</h1>
			<p>Этот сервис создан для людей, которые пользуются контактными линзами. Благодаря LinsAlert вы не забудете сменить старую пару линз и сохраните свои глаза здоровыми.</p>
			<p class="transparent-btn">
				{% if not user.is_authenticated %}
				<a class="btn btn-info btn-small" href="/sign_in/">Войти &raquo;</a>
				<a class="btn btn-primary btn-small" href="/sign_up/">Регистрация &raquo;</a>
				{% endif %}
			</p>
		</div>
	</div>
</div>

<div class="container marketing">
	<div class="row featurette">
		<div class="col-md-7">
			<h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your.</span></h2>
			<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
		</div>
		<div class="col-md-5">
			<img class="featurette-image img-responsive img-circle" src="/static/images/500.png" alt="Generic placeholder image">
		</div>
	</div>
			
	<hr class="featurette-divider">
			
	<div class="row featurette">
		<div class="col-md-5">
			<img class="featurette-image img-responsive img-circle" src="/static/images/500.png" alt="Generic placeholder image">
		</div>
		<div class="col-md-7">
			<h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
			<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
		</div>
	</div>

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-7">
			<h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
			<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felieuismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
		</div>
		<div class="col-md-5">
			<img class="featurette-image img-responsive img-circle" src="/static/images/500.png" alt="Generic placeholder image">
		</div>
	</div>
</div>
{% endblock %}